bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
*.user


src/Presentation/Client/logs
src/Presentation/Client/*.log
src/Presentation/Client/npm-debug.log*
src/Presentation/Client/yarn-debug.log*
src/Presentation/Client/yarn-error.log*
src/Presentation/Client/pnpm-debug.log*
src/Presentation/Client/lerna-debug.log*

src/Presentation/Client/node_modules
src/Presentation/Client/dist
src/Presentation/Client/dist-ssr
src/Presentation/Client/*.local

